<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <ul>
            {% if user.is_authenticated %}
                <a href="{% url 'index' %}">
                    <img src="{% static 'main/logo.png' %}" alt="">
                </a>
                <a href="{% url 'perk' %}"><li class="pers">Пользователь: {{ user.username }}</li></a>
            {% else %}
                <a href="{% url 'index' %}">
                    <img src="{% static 'main/logo.png' %}" alt="">
                </a>
            {% endif %}
            </ul>
        </div>
        <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'blogs' %}">Блог</a></li>
            <li>
                <form action="{% url 'unlog' %}" method="post">
                    {% csrf_token %}
                    <button class="top">Выйти</button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'reg' %}">Регистрация</a></li>
            <li><a href="{% url 'log' %}">Аутентификация</a></li>
        {% endif %}
        </ul>
    </div>
</div>
  <div class="content">
    <div class="wrap">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>