{% extends 'generator/base.html' %}
{% block content %}
<h1>Информация</h1>
<h2>Количество символов отвечает за длинну пароля</h2>
<h2>По умолчанию пароль будет содержать только маленькие латинские буквы</h2>
<h2>Выбор чекбоксов отвечает за добавление в генератор паролей соответсвующих символов(большие буквы, цифры ил
    спецсимволы)</h2>
<h3>Приятного Пользования</h3>
<h5 class="author">Author: John Tenniel</h5>
<p class="reverse"><a href="{% url 'home' %}">Вернуться на главную</a></p>
{% endblock %}